@*/User/ChangePassword*@
@model  QuanLyBanGaRan_64131011.Models.AppUser

@{
    ViewBag.Title = "Thay đổi mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="py-4 container">
    <div class="row flex-column flex-lg-row">
        <div class="col-lg-4 rounded-5 px-5 col" style="background-color: #202124; height:fit-content" id="user-nav">
            <div class="d-flex flex-lg-column justify-content-between align-items-center align-items-lg-baseline p-4">
                <div>
                    <img src="~/Images/logo1.png" class="rounded-circle" style="height: 120px; width: 120px" />
                    <h3 class="text-white mt-2">Xin chào,<br> @Model.FullName</h3>
                    <div class="pb-2">
                        <a class="text-white fw-bolder" href="/logout">Đăng xuất</a>
                    </div>
                </div>
                <div>
                    <div class="py-2">
                        <a class="text-decoration-none text-white-50" href="/User/Order">Đơn hàng đã đặt</a>
                    </div>
                    <div class="py-2">
                        <a class="text-decoration-none text-white-50" href="/User">Chi tiết tài khoản</a>
                    </div>
                    <div class="py-2">
                        <a class="text-decoration-none text-white-50" href="/User/ChangePassword">Thay đổi mật khẩu</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 px-5 col mt-4 mt-lg-0">
            <h3 class="text-uppercase">Thay đổi mật khẩu</h3>
            <form action="" method="post" id="edit-form">
                <input type="hidden" name="UserID" value="@Model.UserID" />
                <div class="details-group">
                    <label for="oldpwd">Mật khẩu cũ *</label>
                    <input type="password" id="oldpwd" value="@ViewBag.oldPwd" name="oldPwd" class="px-3 py-1 mt-2 ms-1 rounded-3 w-100" style=" border: rgba(1, 1, 1, 0.2) 1px solid;" />
                </div>
                <div class="details-group">
                    <label for="newPwd">Mật khẩu mới *</label>
                    <input type="password" id="newPwd" value="@ViewBag.newPwd" name="newPwd" class="px-3 py-1 mt-2 ms-1 rounded-3 w-100" style=" border: rgba(1, 1, 1, 0.2) 1px solid;" />
                </div>
                <div class="details-group">
                    <label for="confirmNewPwd">Xác nhận mật khẩu *</label>
                    <input type="password" id="confirmNewPwd" value="@ViewBag.confirmNewPwd" name="confirmNewPwd" class="px-3 py-1 mt-2 ms-1 rounded-3 w-100" style=" border: rgba(1, 1, 1, 0.2) 1px solid;" />
                </div>
                <div class="details-group mt-4">
                    <button id="change-btn" type="submit" class="btn btn-outline-danger w-100 text-center">Thay đổi mật khẩu</button>
                </div>
                <span class="text-danger mb-2 fst-italic">@ViewBag.errMsg</span>
            </form>
        </div>
    </div>
</section>